* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style: none;
  /* font-family: 'Pacifico', cursive; */
font-family: 'Poppins', sans-serif;
}
.nav {
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a3fe;
}
#menu{
  display: none;
}
.navinner {
  width: 80%;
  height: 100%;
  /* background-color: crimson; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navouter{
  width: 20%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.innericon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(219, 21, 21); */
  width: 25%;
  height: 100%;
  border-bottom: 4px #00a3fe solid;
  
}
.innericon:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(219, 21, 21); */
  width: 25%;
  height: 100%;
  border-bottom: 4px white solid;
  transition: 0.5s;
  
}

i{
  color: white;
}

.naviconlist{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  
  
}
#icon{
  width: 40%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#inputsearch{
  width: 60%;
  height: 70%;
  outline: none;
  border: 1px solid black;
  border-top-right-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
 
}
#search{
  display: flex;
  justify-content: space-around;
}
#searchlable{
  height: 70%;
}
#searchlable:hover{
  background-color: #00a3fe;
  width: 15%;
  height: 70%;
  transition: 0.7s;

}
.logout{
  margin-left: 10%;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  background-color: white;
  font-size: 1rem;
  color: #00a3fe;
  border: 1px solid #00a3fe;
  box-shadow: 2px 2px 5px black;
}

.logout:hover{
  margin-left: 10%;
  width: 40%;
  height: 70%;
  border-radius: 10px;
  box-shadow: none;


}
#profileid{
  width: 10%;
}

.title{
  color: white;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}
@media only screen and (max-width: 945px) {
.navinner {
  width: 80%;
  height: 100%;
  /* background-color: crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search{
  display: none;
}
#profileid{
  display: none;
}
.title{
display: none;
}
#icon{
  width: 100%;
}



}
