
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style: none;
    /* font-family: 'Pacifico', cursive; */
  font-family: 'Poppins', sans-serif;
  }