@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
*{
    margin:0px;
    box-sizing:border-box;
}
.header {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   align-items: center;
   margin: 100px;

}
.sidebar a{
    text-decoration: none;
    margin: 10px;
    padding:5px 20px;
    border-radius: 30px;
   color:white;
   background:#00a3fe;
}
.box{
    display: flex;
    align-items: center;
    margin: 100px;
}
.first-box{
    margin-left: 10px;
    flex-basis: 50%;
}
.first-box h1{
    padding: 20px;
font-family:League Spartan;
}
.second-box{
   
    flex-basis: 50%;
}
.second-box h1{
    margin-left: 50%;
}

.first-box a{
    text-decoration: none;
    margin: 10px;
    padding:5px 20px;
    border-radius: 30px;
   color:white;
   background:#00a3fe;  
}
.first-box p{
    margin-bottom: 5%;
}
